svg {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform:scale(0.5,0.5);
    background: "IMG\440070_blue-gradient-backgrounds-wallpapers-155972_1600x1200_h.jpg";
    border: 2px solid black;
    
  }


.pang1 {
    opacity: 1;
    animation: 1s showLetter;
}
.pang2 {
    
    opacity: 0;
    animation: 1s showLetter;
    animation-delay:0.5s;
    animation-fill-mode: forwards;
}
.pang3 {
    opacity: 0;
    animation: 1s showLetter;
    animation-delay:1s;
    animation-fill-mode: forwards;
}
.pang4 {
    opacity: 0;
    animation: 1s showLetter;
    animation-delay:1.5s;
    animation-fill-mode: forwards;
}

@keyframes showLetter{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        
    }
}

.star21 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star22 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:4s;
    animation-fill-mode: forwards;
}
.star23 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star24 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:4s;
    animation-fill-mode: forwards;
}
.star25 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star26 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:4s;
    animation-fill-mode: forwards;
}
.star27 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star28 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:5.5s;
    animation-fill-mode: forwards;
}
.star29 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star210 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:4s;
    animation-fill-mode: forwards;
}
.star211 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:5.5s;
    animation-fill-mode: forwards;
}
.star212 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star213 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:5.5s;
    animation-fill-mode: forwards;
}
.star214 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.star215 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:4.5s;
    animation-fill-mode: forwards;
}
.star216 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:5.5s;
    animation-fill-mode: forwards;
}



@keyframes starBlink{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        
    }
}

#YellowLight{ /* Melghorar esta animação*/
    transform: rotateY(180deg);
    opacity: 0;
    transform-origin: 50% 20%;
    animation: 1s linear showLight;
    animation-delay:2.5s;
    animation-fill-mode: forwards;
}

@keyframes showLight{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

#Magic{
    opacity: 0;
    animation: 1s linear showLetter;
    animation-delay:4.5s;
    animation-fill-mode: forwards;
}

#Kamek{
    /*transform: scale(0, 0);*/
    
    /*transform-origin: 10% 55%;*/
    transform: translate(800px,0px) scale(0.1,0.1);
    animation: 5s linear kamek;
    animation-delay:5s; /* 6.5*/
    animation-fill-mode: forwards;
}
#RainbowPath{
    opacity:0;
}

@keyframes kamek{
    0% {
        
    }
    20% {
        transform: translate(600px,100px);
    }
    40%{
        transform: translate(500px,100px);
    }
    60% {
        transform: translate(-50px,-400px) scale(2,2)
    }
    100%{
        transform: translate(-50px,-400px) scale(2,2)
    }
}

.star11 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6.5s;
    animation-fill-mode: forwards;
}

.star12 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}
.star13 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6.5s;
    animation-fill-mode: forwards;
}
.star14 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6s;
    animation-fill-mode: forwards;
}
.star15 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star16 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6s;
    animation-fill-mode: forwards;
}
.star17 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6.5s;
    animation-fill-mode: forwards;
}
.star18 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7s;
    animation-fill-mode: forwards;
}
.star19 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7s;
    animation-fill-mode: forwards;
}
.star110 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6s;
    animation-fill-mode: forwards;
}
.star111 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:6.5s;
    animation-fill-mode: forwards;
}
.star112 {
    opacity: 0;
    animation: 449ms infinite linear alternate starBlink;
    animation-delay:7s;
    animation-fill-mode: forwards;
}
.star113 {
    opacity: 0;
    animation: 449ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}
.star114 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}
.star115 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star116 {
    opacity: 0;
    animation: 249ms infinite linear alternate starBlink;
    animation-delay:6s;
    animation-fill-mode: forwards;
}
.star117 {
    opacity: 0;
    animation: 249ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star118 {
    opacity: 0;
    animation: 549ms infinite linear alternate starBlink;
    animation-delay:7s;
    animation-fill-mode: forwards;
}
.star119 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7s;
    animation-fill-mode: forwards;
}
.star120 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}
.star121 {
    opacity: 0;
    animation: 649ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star122 {
    opacity: 0;
    animation: 249ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star123 {
    opacity: 0;
    animation: 449ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}
.star124 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star125 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star126{
    opacity: 0;
    animation: 249ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}
.star127 {
    opacity: 0;
    animation: 449ms infinite linear alternate starBlink;
    animation-delay:8s;
    animation-fill-mode: forwards;
}
.star128 {
    opacity: 0;
    animation: 349ms infinite linear alternate starBlink;
    animation-delay:7.5s;
    animation-fill-mode: forwards;
}